* {
    font-family:  Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
}

html, body {
    height: 100vh;
    width: 100vw;
    background: #2B5292;
}

// Colors

$primary: #2B5292;
$dark-grey: #363636;
$light-grey: #dfdbdb;
$white: #fbfbfb
